<header class="nav" id="heade">
  <div class="nav-inner">
    <h1 class="nav-logo nav-icon">
      <a class="logo" href="#" data-scroll="section1">
        <i class="fa-regular fa-house"></i>
      </a>
    </h1>

    <button class="nav-toggle nav-icon" type="button"
            aria-label="메뉴 열기"
            aria-controls="nav-panel"
            aria-expanded="false">
            <i class="fa-solid fa-bars-staggered"></i>
    </button>
  </div>

  <div class="nav-panel" id="nav-panel" hidden>
    <div class="nav-panel-inner">
      <div class="nav-group">
        <button class="nav-item" type="button" data-scroll="section2">about</button>
        <button class="nav-item" type="button" data-scroll="section3">work</button>

        <a class="nav-item is-link" href="https://learned-helmet-4b3.notion.site/cf602f07c55d474b9b130cf87ae05b3e" target="_blank" rel="noopener">Notion</a>
        <a class="nav-item is-link" href="https://github.com/..." target="_blank" rel="noopener">GitHub</a>
        <a class="nav-item is-link" href="https://gitbook.com/..." target="_blank" rel="noopener">GitBook</a>
      </div>
    </div>
  </div>
</header>
