<main id="main">
  <div class="slides-wrapper">
    <!-- face -->
    <section class="section section-1">
      <div class="section-content">
        <div class="section-inner">
          <h1>Section 1</h1>
        </div>
      </div>
    </section>
  
    <!-- about me -->
    <section class="section section-2">
      <div class="section-content">
        <div class="section-inner">
          <h1>Section 2</h1>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This section is long with text content and needs to be scrollable within before the next slide comes in.</p>
          <p>This is the end...</p>
        </div>
      </div>
    </section>
  
    <!-- work -->
    <section class="section section-3">
      <div class="section-content">
        <div class="section-inner">
          <h1>Section 3</h1>
        
        </div>
      </div>
    </section>
    
    <section class="section section-4">
      <div class="section-content">
        <div class="section-inner">
          <h1>Section 4</h1>
        </div>
      </div>
    </section>

  </div>
</main>